*.dta
*.acs
*.parquet
*.Rproj.user
*.asc
.Rproj.user

/extraction-loading/intermediate
quarto/pages/blog/parquet-testing/df_ordered.csv
quarto/pages/blog/parquet-testing/df_unordered.csv
quarto/pages/blog/parquet-testing/df_unordered_long_str.csv
quarto/pages/blog/parquet-testing/index.knit.md
*.sas7bdat
